*.log
*.swp
*.toc
*.*~
*.cs~
*.exe
*.dll
*.mdb
*.userprefs
*.log*
*.gz

#begin latex
*.pdf
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.backup
*.acn
*.alg
*.acr
*.ist
#end latex

bin/
obj/
~
pdf
Dokumente/Mockup/Resources/
Dokumente/Mockup/index.html
Dokumente/Mockup/pages/
Code/*/packages/
Tools/LinuxPackage/
Tools/WindowsPackage/
