<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrototypeBackend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PrototypeBackend.Properties.Settings>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Config1" serializeAs="String">
                <value />
            </setting>
            <setting name="Config2" serializeAs="String">
                <value />
            </setting>
            <setting name="Config3" serializeAs="String">
                <value />
            </setting>
            <setting name="Config4" serializeAs="String">
                <value />
            </setting>
            <setting name="Config5" serializeAs="String">
                <value />
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>WARNING</value>
            </setting>
            <setting name="LogToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>Log</value>
            </setting>
        </PrototypeBackend.Properties.Settings>
    </userSettings>
</configuration>